:root {
	--red: #ff3721;
	--blue: #6c8cde;
	--green: #3aac72;
	--border: 2px solid #FFF;
	--faded: 0.5;
}

html {
	font-size: 18px;
	font-family: arial;
}

body, body * {
	box-sizing: border-box;
}

.clear:after {
	clear: both;
	content: '';
	display: block;
}

#svgContainer {
	position: fixed;
	height: 200px;
	width: 200px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

svg {
	max-height: 100%;
/*	max-width: 50%;*/
	max-width: 47.5%;
	position: absolute;
}


#svg1 {
/*	fill: red; */
	fill: var(--red); 
}

#svg2 {
/*	fill: blue;*/
	fill: var(--blue); 
	transform: rotate(120deg);
	top: 0;
/*	left: 50%;*/
	right: 0;
}

#svg3 {
/*	fill: green;*/
	fill: var(--green); 
	transform: rotate(240deg);
/*	left: 25%;*/
	left: 26.3%;
/*	bottom: -29.5%;*/
/*	bottom: -12.5%;*/
	bottom: -28%;
}

#character_fields {
	position: relative;
	z-index: 2;
	padding: 1rem;
}

.character_field {
	position: relative;
	width: 400px;
	max-width: 100%;
	margin-bottom: 1rem;
}

input {
	height: 2rem;
	font-size: 1rem;
	line-height: 2rem;
	padding: 0 2rem 0 1rem;
	border-radius: 4px;
}

input[options] {
	cursor: pointer;
}

.showingOptions input {
	border-radius: 4px 4px 0 0;
}

.character_field i {
	position: absolute;
	font-size: 1rem;
	line-height: 2rem;
	text-align: center;
	width: 2rem;
	top: 0;
	right: 0;
	z-index: 100;
}

#talents {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#int_talents {
	background-image: url('annie.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/*#int_talents {
	background: var(--blue);
}

#dex_talents {
	background: var(--green);
}


#str_talents {
	background: var(--red);
}*/


.talent_tree {
	width: calc(66% - 6rem);
	height: calc(100% - 4rem);
	float: right;
	border-radius: 4px;
	border: var(--border);
	margin: 2rem;
	position: relative;
}

.talent,
.joiner {
	position: absolute;
	width: 5%;
    height: 0;
    padding-bottom: calc(5% - 4px);
	border-radius: 50%;
	border: var(--border);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	cursor: pointer;
	z-index: 1;
	opacity: var(--faded);
}

.joiner {
	width: 10px;
	height: 10px;
	padding: 0;
	background: #FFF;
	cursor: initial;
}

.talent:hover {
	opacity: 1;
	z-index: 999;
}

#int_talents .talent {background: var(--blue)}
#dex_talents .talent {background: var(--green)}
#str_talents .talent {background: var(--red)}

.talent .talent_icon  {
	font-size: 1rem;
	line-height: 1;
	color: #FFF;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	width: 100%;
	text-align: center;
}

.talent i.fa-crosshairs-simple {
	font-size: 1.1rem;
}

.talent .info {
	display: none;
	position: absolute;
	bottom: -4px;
	left: 50%;
	width: 400%;
	-webkit-transform: translate(-50%, 100%);
	-moz-transform: translate(-50%, 100%);
	transform: translate(-50%, 100%);
	text-align: left;
	border-radius: 4px;
	margin: 0;
	padding: 0.5rem 0.6rem;
	background: rgb(230 230 230);
	font-size: 0.6rem;
	line-height: 1.25;
}

.talent .info p {
	margin: 0;
	padding: 0;
}

.talent .info .name {
	text-align: left;
	margin-bottom: 0.5em;
	font-size: 0.9em;
	font-weight: bold;
}

.talent:hover .info {
	display: block;
}

.talent_grid {
	border-collapse: collapse;
	width: 100%;
    height: 100%;
	opacity: var(--faded);
}

.connection {
	background-color: #FFF;
	position: absolute;
	display: block;
	opacity: var(--faded);
}

.connection.left,
.connection.right {
	height: 3px;
}

/*td {
	border: 2px solid transparent;
}

td.horz {border-bottom: var(--border)}
td.vert {border-right: var(--border)}*/


/* TEMP STYLES */

#create_character,
#select_character,
#character_fields,
#svgContainer {
	display: none;
}

