:root {
	--red: #ff3721;
	--lred: #ff7e70;
	--blue: #6c8cde;
	--lblue: #8dadff;
	--green: #3aac72;
	--lgreen: #8afbc2;
	--border: 2px solid #FFF;
	--faded: 0.5;
}

html {
	font-size: 18px;
	font-family: arial;
}

body, body * {
	box-sizing: border-box;
}

.clear:after {
	clear: both;
	content: '';
	display: block;
}

#svgContainer {
	position: fixed;
	height: 200px;
	width: 200px;
	bottom: 1rem;
	left: 2.5rem;
	z-index: 1;
}

svg {
/*	max-height: 100%;*/
/*	max-width: 50%;*/
/*	max-width: 47.5%;*/
/*	position: absolute;*/
}


#svg1 {
	fill: var(--red); 
}

#svg2 {
	fill: var(--blue); 
}

#svg3 {
	fill: var(--green); 
}

.tri_activator {
	cursor: pointer;
}

#character_fields {
	position: relative;
	z-index: 2;
	padding: 1rem;
}

.character_field {
	position: relative;
	width: 400px;
	max-width: 100%;
	margin-bottom: 1rem;
}

input {
	height: 2rem;
	font-size: 1rem;
	line-height: 2rem;
	padding: 0 2rem 0 1rem;
	border-radius: 4px;
}

input[options] {
	cursor: pointer;
}

.showingOptions input {
	border-radius: 4px 4px 0 0;
}

.character_field i {
	position: absolute;
	font-size: 1rem;
	line-height: 2rem;
	text-align: center;
	width: 2rem;
	top: 0;
	right: 0;
	z-index: 100;
}

#talents {
	position: fixed;
	top: 0;
	right: 0;
	width: 66%;
	height: 100%;
}

#int_talents {
	background-image: url('mage.jpg');
	background-position: center;
}

#dex_talents {
	background-image: url('rogue.jpg');
	background-position: top;
}

#str_talents {
	background-image: url('tank.jpg');
	background-position: top;
}

.talent_tree {
	width: calc(100% - 4rem);
	height: calc(100% - 4rem);
	float: right;
	border-radius: 4px;
	border: var(--border);
	margin: 2rem;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	z-index: 0;
	-webkit-transition: opacity 0.35s ease-in-out;
	-moz-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
	background-repeat: no-repeat;
	background-size: cover;
}

.talent_tree.active {
	opacity: 1;
	z-index: 1;
}

.talent,
.joiner {
	position: absolute;
	width: 5%;
    height: 0;
    padding-bottom: calc(5% - 4px);
	border-radius: 50%;
	border: var(--border);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	cursor: pointer;
	z-index: 1;
	opacity: var(--faded);
}

.joiner {
	width: 10px;
	height: 10px;
	padding: 0;
	background: #FFF;
	cursor: initial;
}

.talent:hover {
	opacity: 1;
	z-index: 999;
}

.talent[level="1"],
.talent[level="2"],
.talent[level="3"] {
	opacity: 1;
}

.talent[level="1"]:after,
.talent[level="2"]:after,
.talent[level="3"]:after {
	position: absolute;
	left: calc(50% - 8px);
	bottom: -4px;
	display: block;
	height: 16px;
	width: 16px;
	text-align: center;
	font-size: 8px;
	border: var(--border);
	z-index: 1;
}

.talent[level="1"]:after {content: "1"}
.talent[level="2"]:after {content: "2"}
.talent[level="3"]:after {content: "3"}

#int_talents .talent {background: var(--blue)}
#dex_talents .talent {background: var(--green)}
#str_talents .talent {background: var(--red)}

.talent .talent_icon  {
	font-size: 1rem;
	line-height: 1;
	color: #FFF;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	width: 100%;
	text-align: center;
}

.talent i.fa-crosshairs-simple {
	font-size: 1.1rem;
}

.talent .info {
	display: none;
	position: absolute;
	bottom: -4px;
	left: 50%;
	width: 400%;
	-webkit-transform: translate(-50%, 100%);
	-moz-transform: translate(-50%, 100%);
	transform: translate(-50%, 100%);
	text-align: left;
	border-radius: 4px;
	margin: 0;
	padding: 0.5rem 0.6rem;
	background: rgb(230 230 230);
	font-size: 0.6rem;
	line-height: 1.25;
}

.talent .info p {
	margin: 0;
	padding: 0;
}

.talent .info .name {
	text-align: left;
	margin-bottom: 0.5em;
	font-size: 0.9em;
	font-weight: bold;
	text-transform: uppercase;
}

.talent:hover .info {
	display: block;
}

.talent .info .stat {
	text-transform: uppercase;
	text-decoration: underline;
}

.effects {
	white-space: nowrap;
}

.talent[level="1"] .info .effects[tier="1"],
.talent[level="2"] .info .effects[tier="2"],
.talent[level="3"] .info .effects[tier="3"] {
	font-weight: bold;
	text-decoration: underline;
}

.talent_grid {
	border-collapse: collapse;
	width: 100%;
    height: 100%;
	opacity: var(--faded);
}

.connection {
	background-color: #FFF;
	position: absolute;
	display: block;
	opacity: var(--faded);
}

.connection.left,
.connection.right {
	height: 3px;
}


.connection.top {
	width: 3px;
}

/*td {
	border: 2px solid transparent;
}

td.horz {border-bottom: var(--border)}
td.vert {border-right: var(--border)}*/

/* character sheet */

.drop {
	position: relative;
	z-index: 0;
}

.drop:hover {
	z-index: 1;
}

.drop_options {
	position: absolute;
	bottom: 0;
	left: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	transform: translateY(100%);
}

.drop:not(.showing) .drop_options {
	display: none;
}

.drop_options span {
	position: relative;
	display: block;
	width: 100%;
	line-height: 2;
	padding: 0 0.5em;
}

[bg="int"] {background-color: var(--lblue);}
[bg="dex"] {background-color: var(--lgreen);}
[bg="str"] {background-color: var(--lred);}

.phys_field:not(.showing),
.spell_field:not(.showing),
.touch_field:not(.showing),
.ranged_field:not(.showing),
.area_field:not(.showing) {
	display: none;
}


/* TEMP STYLES */

#create_character,
#character_info,
#select_character,
#character_fields {
	display: none;
}